/* font-family: 'Open Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;

    overflow-x: hidden;
}

nav{
    height: 15vh;
    width: 100vw;

    background-color: #022c22;

    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

nav img{
    width: 70px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;

    list-style: none;
}

nav ul li a{
    text-decoration: none;

    color: #fff;

    font-size: 1.3rem;

    border-bottom: 1px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 500ms;
}

nav ul li a:hover{
    border-bottom: 1px solid;
}

main{
  display: flex;
  justify-content: center;
 
  padding: 2rem;

  height: 85vh;
  }

.box-prod{
  width: 35rem;
  height: 20rem;

  padding: 1rem;

  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.box-prod {
  grid-template-areas:"A B"
                      "C D";
}

.box-prod div:nth-child(1) {
  grid-area: A;
}

.box-prod div:nth-child(2) {
  grid-area: B;
}

.box-prod div:nth-child(3) {
  grid-area: C;
}

.box-prod div:nth-child(4) {
  grid-area: D;
}

.card{
  border-radius: 1.2rem;

  width: 13rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .4rem;

  color: #000;
  
  transition: all 400ms;
}

.card:hover{
  transform: scale(1.1);
}

.card img{
  width: 13rem;
  height: 10rem;

  object-fit: cover;

  border-radius: .5rem;
}

.card h2{
  font-size: 1.3rem;
  font-weight: 600;
    }

    .card h3{
      font-size: 1.2rem;
    }

    .card p{
      text-align: center;

      color: #000;
    }

    .card button{
      width: 10rem;
      
      padding: 1rem;

      border-radius: .8rem;
      border: none;

      color: #fff;

      background-color: #022c22;
    }