/* font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%;
  }

  body{
    padding: 1.5rem;
  }

  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 0.3rem;
  }

  input {
    padding: 1rem;
  
    width: 25rem;
    height: 3rem;
  
    border-radius: 1rem;
    border: none;
    border-bottom: .2rem solid #ffffff6b;

    background-color: #022c22;
    
    color: #fff;
  }

  
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  
  input::placeholder {
    color: #fff;
  }
  
  input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      button{
        padding: 1rem;
        
        border-radius: 1rem;
        border: none;
      
        background-color: #022c22;

        color: #fff;

        width: 17rem;
      }

      #buttonBack{
        position: absolute;
      
        top: 2rem;
        left: 2rem;
      }
      
      #buttonBack a{
        text-decoration: none;
      
        color: #000;
      
        padding: .7rem;
      
        border: .2rem solid #000;
        border-radius: 1rem;
      }